@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  font-family: "Roboto Slab", serif;
}

#bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.5s;
}

#quote-box {
  margin: auto;
  max-width: 60%;
  text-align: center;
  padding: 20px 30px 35px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  color: #722620;
}

#quote-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#text {
  font-size: 25px;
  font-weight: 600;
  -webkit-text-stroke: 0.1px black;
}

#author {
  text-align: right;
  font-weight: lighter;
  padding-bottom: 10px;
}

#new-quote {
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 15px;
  padding: 7px;
  border: none;
  margin-right: 73%;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  color: rgb(61, 61, 61);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#new-quote:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#tweet-quote {
  margin: -25px 0 -5px 80%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.01);
}

#tweet-quote:hover {
  transform: scale(1.05);
}

#bg-load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.5s;
  background-color: rgb(250, 237, 219);
}

#circle {
  margin: 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  animation-name: loading;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle1 {
  animation-delay: 0s;
  background-color: hotpink;
}

.circle2 {
  animation-delay: 0.2s;
  background-color: lightskyblue;
}

.circle3 {
  animation-delay: 0.4s;
  background-color: lightgreen;
}

@keyframes loading {
  0% {
    margin-bottom: 10px;
  }
  50% {
    margin-bottom: 50px;
  }
  100% {
    margin-bottom: 10px;
  }
}
